@import "@picocss/pico";

:root,
body {
    height: 100%;
}

body {
    display: flex;
    flex-flow: column;

    main {
        flex-grow: 1;
    }
}

.tag {
    font-size: 0.6rem;
    display: inline-block;
    padding: 0.15em 0.6em;
    background-color: rgba(0, 0, 0, 25%);
    border-radius: 0.3em;

    &.gamemode {
        color: green;
    }

    &.plugin {
        color: orange;
    }

    &.gameplay {
        color: yellow;
    }

    &.interest {
        color: purple;
    }
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.unstyled {
    background-color: transparent;
    border: 0;
    padding: 0;
    margin: 0;

    &:is(button) {
        display: inline-block;
        width: max-content;
    }
}
