@import "@picocss/pico";

a.x {
    color: unset;
    color: red;
}

a > * {
    color: white;
}

.tag {
    font-size: 0.6rem;
    display: inline-block;
    padding: 0.15em 0.6em;
    background-color: rgba(0, 0, 0, 25%);
    border-radius: 0.3em;
}
